<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">
  <targets async="true">
    <target xsi:type="ColoredConsole"
            name="cc"
            layout="${longdate} [${uppercase:${level}}] [${logger}] ${message} ${onexception:inner=${newline} ${exception:ToString}}"/>
    <target xsi:type="File"
            name="f"
            fileName="${nlogdir}\script.log"
            layout="${longdate} [${uppercase:${level}}] [${logger}] ${message} ${onexception:inner=${newline} ${exception:ToString}}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="cc" />
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>